<div style="height: 80vh;" id="embedContainer"></div>

 <%    PowerBIWebAPI bi = new PowerBIWebAPI();
                        String report_id = "b96259f1-8a2f-4d7c-a41f-0a7d951bb7f1";  //with sn param
                        String dataset_id = "57fba225-88a9-45cd-bbe0-edec0d3282df"; //with sn param
                        String workspace_id = "9c65faea-1c4d-42d8-9d61-a39e06f27de0";

                        //Check to switch to dev report
                        String server_name = request.getServerName();
                        if (!server_name.equals(www.hypertherm.com) && !server_name.equals("xnet.hypertherm.com")) {
                            report_id = "c3585c90-c6b1-4f3a-b59c-e40d617025f3";
                            dataset_id = "be69edcb-c83a-4a37-9f88-4a9dd245d465";
                            workspace_id = "d8216e9e-35b8-478c-be30-5047fd9bb7ac";
                        }

                        String identities = " 'identities':["
                                + "  { "
                                + "   'username': '80df792d-18c1-4c99-bcbf-ee1486473626',"
                                + "   'roles': [ "
                                + "      'customer' "
                                + "    ], "
                                + "   'customData': '" + sn + "',"
                                + "   'datasets': ["
                                + "     '" + dataset_id + "'   "
                                + "    ]"
                                + "  } "
                                + "  ],";

                        bi.generatePowerBIToken(dataset_id, report_id, identities);

                        bi.generatePowerBIEmbedLink(workspace_id, report_id);


                    %>
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        
                                                                        <script type="module">
            //alert('here');
            let loadedResolve, reportLoaded = new Promise((res, rej) => { loadedResolve = res; });
            let renderedResolve, reportRendered = new Promise((res, rej) => { renderedResolve = res; });

            // Get models. models contains enums that can be used.
            var models = window['powerbi-client'].models;


            //import { embedreport } from './scripts/embedreport.js';

            // Embed a Power BI report in the given HTML element with the given configurations
            // Read more about how to embed a Power BI report in your application here: https://go.microsoft.com/fwlink/?linkid=2153590
            function embedPowerBIReport(accessToken, embedUrl, embedReportId) {
            /*-----------------------------------------------------------------------------------+
            |    Don't change these values here: access token, embed URL and report ID.          |
            |    To make changes to these values:                                                |
            |    1. Save any other code changes to a text editor, as these will be lost.         |
            |    2. Select 'Start over' from the ribbon.                                         |
            |    3. Select a report or use an embed token.                                       |
            +-----------------------------------------------------------------------------------*/

            // Read embed type from radio
            let tokenType = models.TokenType.Embed;

            // We give All permissions to demonstrate switching between View and Edit mode and saving report.
            let permissions = models.Permissions.All;

            // Create the embed configuration object for the report
            // For more information see https://go.microsoft.com/fwlink/?linkid=2153590
            let config = {
            type: 'report',
            tokenType: tokenType == '0' ? models.TokenType.Aad : models.TokenType.Embed,
            accessToken: accessToken,
            embedUrl: embedUrl,
            id: embedReportId,
            permissions: permissions,
            settings: {
            panes: {
            filters: {
            visible: true
            },
            pageNavigation: {
            visible: true
            }
            }
            }
            };

            // Get a reference to the embedded report HTML element
            let embedContainer = $('#embedContainer')[0];

            // Embed the report and display it within the div container.
            let report = powerbi.embed(embedContainer, config);

            // report.off removes all event handlers for a specific event
            report.off("loaded");

            // report.on will add an event handler
            report.on("loaded", function () {
            loadedResolve();
            report.off("loaded");
            });

            // report.off removes all event handlers for a specific event
            report.off("error");

            report.on("error", function (event) {
            console.log(event.detail);
            });

            // report.off removes all event handlers for a specific event
            report.off("rendered");

            // report.on will add an event handler
            report.on("rendered", function () {
            renderedResolve();
            report.off("rendered");
            });
            }

            async function embedreport (accessToken, embedUrl, embedReportId)   {

            embedPowerBIReport(accessToken, embedUrl, embedReportId);

            await reportLoaded;

            // Insert here the code you want to run after the report is loaded

            //await reportRendered;

            // Insert here the code you want to run after the report is rendered


            }
            // Read embed application token
            let accessToken = "<%= bi.getPowerBIReportToken()%>"; //Report token

            // Read embed URL
            let embedUrl = "<%= bi.getPowerBIWebUrl()%>";

            // Read report Id
            let embedReportId = "<%= report_id%>";

            //embedPowerBIReport(accessToken, embedUrl, embedReportId);
            embedreport(accessToken, embedUrl, embedReportId);

        </script>
